html, body {
    display: inline-block;
    /*background-color: #002B80;*/
    background: -webkit-linear-gradient(#ededed, #e0dfe3);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    overflow: auto;
}


/*--------------------link style---------------------*/

a:link {
    color: black;
    text-decoration: none;
}


a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


a:active {
    color: black;
    text-decoration: none;
}

/*--------------card style---------------------*/

.card-body {
    padding: 10px;
    font-size: .9rem;
}

.card {
    width: 200px;
    height: 300px;
    margin: 10px;
    border: 2px solid #B6860A;
    padding: 10px;
    /*background-color: #002B80;*/
    border-radius: 5%;
}

.company-card {
    height: 400px;
}

/*---------------card grid----------------------*/
.main-container{
    max-width: 1100px;
    margin: 0 0 0 10%;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /*grid-template-columns: repeat(12, 1fr);*/
    /*grid-template-areas:*/
    /*    ". card card card card card card card card card card card ."*/
    /*    ". card card card card card card card card card card card ."*/
    /*    ". card card card card card card card card card card card ."*/
    /*    ". card card card card card card card card card card card ."*/
    /*    ". card card card card card card card card card card card ."*/
    /*    ". card card card card card card card card card card card .";*/
}

/*---------------list-----------------*/
.jumbotron {
    background-image: url("../img/usaa7.jpg");
    opacity: 0.8;
    background-size: 100% 100%;
    width: 100vw;
    height: 50vh;
    border-bottom: 5px solid #B6860A;
}

.container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            "jumbo jumbo jumbo jumbo jumbo"
            ". card rating map ."
            ". card description map ."
            "table table table table table";
}

ul {
    list-style: none;
    padding: 5px 0 0 5px;
}

li {
    margin-bottom: 10px;
}

.company-card {
    grid-area: card;
    background-color: whitesmoke;
}

.rating-container {
    grid-area: rating;
    margin: 0 0 0 5vw;

}

.rating {
    color: whitesmoke;
    display: flex;
}

.checked {
    color: #B6860A !important;
}

.fa-star {
    color: whitesmoke;
}

.description {
    margin: 0 0 0 10px;
    grid-area: description;
    color: whitesmoke;
    height: 40vh;
    width: 30vh;
}

.map {
    grid-area: map;
    margin-left: 10px;
}

#map {
    /* the width and height may be set to any size */
    width: 200px;
    height: 300px;
}

.reviews {
    grid-area: table;
    margin: 10% 0 0 0;
}

.table {
    width: 100%;
    background-color: whitesmoke;
}