.grid {
    font-family: 'Crete Round', serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        ". jumbo ."
        ". search ."
        ". links .";
}

.jumbotron {
    grid-area: jumbo;
}

.splash{
    background: -webkit-linear-gradient(#0031a1, #002B80);
    color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    margin: 10% 0 0 0;
    height: 100vh;
    width: 100vw;
    color: whitesmoke;
    background-image:url(../img/military.png);
    background-repeat: no-repeat;
    background-size: 80%;
}

.nameLogo{
    display: flex;
    justify-content: center;
}
.saLogo{
    height: 150px;
    width: 150px;
    margin: 0 20px 0 0;
}
/*---------------search form---------------------------*/
.search-form {
    display: flex;
    justify-content: center;
    grid-area: search;
    --searchButtonWidth: 100px;
    height: 60px;
    max-width: 500px;
    margin: 5% auto;
}

.search-input {
    border: 2px solid #b6860A ;
    margin: 0;
    padding: 0.5rem calc(var(--searchButtonWidth) + 0.5rem) 0.5rem 0.5rem;
    border-radius: 8px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-appearance: none;
    font-size: 20px;
}

.search-input:focus {
    outline: 0;
    background: whitesmoke;
}

.search-input:not(:placeholder-shown) ~ .search-button {
    transform: translateX(calc(-1 * var(--searchButtonWidth)));
}

.search-button {
    border: 0;
    padding: 0.5rem;
    border-radius: 8px;
    width: var(--searchButtonWidth);
    transition: 0.2s;
    background: #b6860A;
    font-size: 20px;
    height: 85%;
    color: whitesmoke;

}

.search-button:focus {
    outline: 0;
    background: #002B80;
    color: whitesmoke;
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.link{
    grid-area: links;
    color: whitesmoke;
    text-decoration: none!important;
    /*margin-top: -20px;*/
    font-family: 'Roboto', sans-serif;
}
.link:hover{
    color: #b6860A;
}